BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
ColumnLimit: 120

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ReflowComments: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false

BreakStringLiterals: false