BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
